.nav-link{
	font
}
.navlogo{
    width:200px;
}
.homelogo{
    width:500px;
}
.bg-nav{
    background-color:#0073b8;
    max-width: inherit;
    
}

.container{
    max-width: inherit;
}
.bg-index{
    background-color:aquamarine;
}

.information{
	font-size:15;

}    

body{
    background-color:#bfffb5;
    text-align:center;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
	
	 
}
h1{
    color:white;
    font-weight: bold;
}
p{
    color:black;
    font-weight: bold;
    font-size: 15;
}
.list{
	
	list-stle-type:none;
	width:1000px;
	margin-bottom:10;
	background-color: white;
    color: black;}
    
    
ul {
   list-style-type: none;
   font-size:17;
}
.information{
	margin-bottom:10;
	padding-left:100;
	padding-right:100;

}
#message {
  display:none;
  background: #bfffb5;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖;";
}
